<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head> 
<body>

    <div class="header">
        <h1>Joanah Eder</h1>
        <p>Django Developer | Frontend Developer | Python Enthusiast</p>
    </div>

    <section class="about">
        <h2>About Me</h2>
        <p>
            I am a passionate Django developer who loves building web applications,
            solving backend problems, and creating clean and scalable code.
        </p>
    </section>

    <section class="projects">
        <h2>My Projects</h2>

        <div class="project-grid">

            <div class="project-card">
                <h3>Project 1</h3>
                <p>N/A</p>
            </div>

            <div class="project-card">
                <h3>Project 2</h3>
                <p>N/A</p>
            </div>

            <div class="project-card">
                <h3>Project 3</h3>
                <p>N/A</p>
            </div>

        </div>
    </section>


    <section class="contact">
        <h2>Contact Me</h2>
        <p>Email: <a href="#">ederjoanahmae@gmail.com</a></p>
        <p>GitHub: <a href="https://github.com/yourusername">https://github.com/gyk5zy85xc-crypto</a></p>
    </section>
</body>
</html>